html, body, div, form, fieldset, legend, label, ul, li, span {
 margin: 0;
 padding: 0;
}

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight:normal;
}

h1, h2, h3, h4, h5 {
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
  -webkit-margin-end: 0px;
  -webkit-margin-start: 0px;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  border: 0;
}

html {
  height: 100vh;
  background: #fafafa;
}

html, body, #root {
  color: rgba(0,0,0,0.85);
  font-family: 'Source Sans Pro', sans-serif;
}


.button {
  display: inline-block;
  height: 1.6em;
  border: 0.1em solid black;
  border-radius: 0.4em;
  background-color: #B5332C;
  padding: 0 0.8em;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8em;
  font-weight: 700;
}

@media only screen
  and (min-width: 700px) {
    .button {
      letter-spacing: .1em;
      font-size: 1em;
    }
}

@media only screen and (max-device-width: 640px) {
  .button {
    height: 32px;
    line-height: 32px;
    font-size: 13px;
  }
}

.dark-background {
  background-color: #cfcfcf;
}

.light-background {
  background-color: #e2e2e2;
}

.white-background {
  background-color: white;
}
